aside {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  background-color: #6699cc;
}

.icone-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  font-size: 2.25rem;
}

.icone-menu:hover i {
  cursor: pointer;
}

.area-menu {
  position: relative;
}

.menu-item ul li a {
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: background-color 300ms ease-in-out;
}

.menu-item ul li a:hover {
  cursor: pointer;
  background-color: #f2f3f4;
}

.menu-item ul li a.ativo {
  background-color: #f2f3f4;
}

.btn-sair a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5rem; /* 40px */
  font-size: 1.2rem;
  background-color: #3f73a7;
  position: absolute;
  bottom: 0;
  transition: all 300ms ease-in-out;
}
.btn-sair a:hover {
  background-color: #2f76bd;
}
