.area-table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3.125rem;/* auto 50px */;
}

.area-acao-button {
  gap: 1.25rem; /* 20px */
  justify-content: center;
}

.area-acao-button button.btn-atualizar,
.area-acao-button button.btn-deletar {
  width: 6.875rem; /* 110px */
  height: 1.875rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area-acao-button button.btn-atualizar > a,
.area-acao-button button.btn-deletar > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem; /* 4px */
  width: 100%;
  height: inherit;
}

.area-acao-button button.btn-atualizar {
  background-color: #ffff31;
}
.area-acao-button button.btn-atualizar:hover {
  background-color: #ebeb02;
}

.area-acao-button button.btn-deletar {
  background-color: #ff5f56;
}
.area-acao-button button.btn-deletar:hover {
  background-color: #ff3e34;
}

/* tabela de atualizar funcionario */

.body > .atualizar h3 {
  text-align: start;
}

.form-atualizar {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(6, 60px);
  gap: 1.25rem;
  height: 100%;
}

.form-atualizar .area-input-nome {
  grid-column: 1 / 2;
  grid-row: 1;
}

.form-atualizar .area-input-sobrenome {
  grid-column: 2 / 3;
  grid-row: 1;
}

.form-atualizar .area-input-cpf {
  grid-column: 1 / 2;
  grid-row: 2;
}

.form-atualizar .area-input-telefone {
  grid-column: 2 / 3;
  grid-row: 2;
}

.form-atualizar .area-nova-senha {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  margin-bottom: 1.25rem;
}

.area-nova-senha fieldset {
  padding: 1rem;
  border: 1px solid #ccc;
}
.area-nova-senha fieldset input {
  margin-bottom: 0;
}
.area-nova-senha fieldset label[for="senhaNova"] {
  display: block;
  margin-top: 1rem;
}

.area-input-nome input#nome,
.area-input-sobrenome input#sobrenome,
.area-input-cpf input#cpf,
.area-input-telefone input#telefone,
.area-input-cargo input#cargo,
.area-nova-senha input#senhaAntiga,
.area-nova-senha input#senhaNova {
  width: 100%;
}

.area-button {
  grid-column: 1 / 2;
  grid-row: 6;
}

.area-form form .area-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  color: #f2f3f4;
  background-color: #ff5f56;
}
.area-form form .area-button a:hover {
  background-color: #ff3e34;
}
