.area-acao-button {
  gap: 1.25rem; /* 20px */
  justify-content: center;
}

.area-acao-button button.btn-atualizar,
.area-acao-button button.btn-deletar {
  width: 30%;
  height: 1.875rem;
}

.area-acao-button button.btn-atualizar {
  background-color: #ffff31;
  transition: all 300ms ease;
}
.area-acao-button button.btn-atualizar:hover {
  background-color: #f7f700;
}

.area-acao-button button.btn-deletar {
  background-color: #ff5f56;
  transition: all 300ms ease;
}
.area-acao-button button.btn-deletar:hover {
  background-color: #ff3e34;
}
