<%- include('../partials/head') %>
<div class="container">
  <%- include('../partials/menu', {ativoMenu, user}) %>
  <%-include('../partials/header', { user }) %>
</div>
<%- include('../partials/footer') %>
