<%- include('../partials/head') %>
<div class="container">
  <%- include('../partials/menu', {ativoMenu}) %>
  <%-include('../partials/header', { user }) %>

  <div class="body">
    <div class="area-form">
      <form action="/registrarFuncionario" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" />
        <label for="dataNacimento">Data de nacimento:</label>
        <input type="text" name="dataNacimento" id="dataNacimento" />
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" id="telefone" />

        <div class="area-cargo-sexo">
          <div class="area-cargo">
            <label for="cargo">Cargo:</label>
            <input type="text" name="cargo" id="cargo" />
          </div>
          <div class="area-checkbox">
            <label for="sexoM">Masculino</label>
            <input type="checkbox" name="sexoM" id="sexoM" value="M" />
            <label for="sexoF">Feminino</label>
            <input type="checkbox" name="sexoF" id="sexoF" value="F" />
          </div>
        </div>

        <div class="area-button">
          <button type="submit" class="btn-salvar">Salvar</button>
          <button type="submit" class="btn-cancelar">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
