<header>
  <div class="logo">
    <a href="/"><strong>CONTROLSTOK</strong></a>
  </div>
  <div class="avatar">
    <div class="area-nome-avatar">
      <span class="nome"><%=user.nome%><%=user.sobrenome%></span>
      <span class="cargo"> Cargo: <%=user.Cargo.nome%> </span>
    </div>
    <a href="/sair">Sair</a>
  </div>
</header>
