<aside class="area-menu">
  <div class="icone-menu">
    <i class="ph-list"></i>
  </div>
  <div class="menu-item">
    <ul>
      <li>
        <a 
          href="/" 
          class="<%=  ativoMenu === "estoque" ? 'ativo' : '' %>"
        >
          Estoque
        </a>
      </li>

      <% if (user.Cargo.nome === "gerente") { %>
        <li>
          <a 
            href="/relatorio" 
            class="<%=  ativoMenu === "relatorio" ? 'ativo' : '' %>"
          >
            Relatório
          </a>
        </li>
        
        <li>
          <a 
            href="/novo-produto" 
            class="<%=  ativoMenu === "novo-produto" ? 'ativo' : '' %>"
          >
            Novo Produto
          </a>
        </li>

        <li>
          <a 
            href="/registrar-funcionario" 
            class="<%=  ativoMenu === "registrarFuncionario" ? 'ativo' : '' %>"
          >
            Novo Funciónario
          </a>
        </li>
      <% } %>
    </ul>
    <div class="btn-sair">
      <a href="/sair">Sair</a>
    </div>
  </div>
</aside>